// 
.trip-overlay.idl {
  @include opacity(0.2);
  display: none;
}

.trip-block.idl {
  min-width: 350px;
  max-width: 350px;
  padding: 0px;
  background: #fff;
  border: 1px solid #aaa;
  @include box-shadow(#444 0 0 15px 5px);

  .trip-close {
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 10px;
    margin-right: -10px;
    margin-top: -5px;

    &:hover {
      color: #000;
    }
  }

  &.n:before {
    border-top-color: #cabebe;
  }

  &.s:before {
    border-bottom-color: #cabebe;
  }

  &.e:before {
    border-right-color: #cabebe;
  }

  &.w:before {
    border-left-color: #cabebe;
  }

  .trip-top {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 15px 20px 5px 20px;
    background: #cabebe;
    color: white;
    font-size: 1.2em;
  }

  .trip-header {
    margin-bottom: 12px;
    font-weight: 600;
    text-align: left;
  }

  .trip-content {
    text-align: left;
    padding: 10px 20px 0px 20px;
  }

  .trip-navigation {
    margin-top: -10px;
    display: block;
    text-align: right;
    padding: 5px 20px 5px 20px;
  }

  .trip-prev,
  .trip-next {
    margin: 5px 0px;
    //margin-bottom: -5px; 
    border-color: #cabebe;
    background-color: #cabebe;
    color: white;
  }

  .progress {
    height: 10px;
    margin-bottom: 10px;
  }

  .progress-bar {
    background-color: #cabebe;
  }

}

.trip-block.screen-center {
  min-width: 450px;
}
